@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background-color: #1c1c1c;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Montserrat";
}

html.dark {
    background-color: #010f20;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    /* padding-bottom: 5rem; */
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #f1f5f9;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* header {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    height: 48px;
    align-items: center;
}


*/
header {
    padding: 18px;
}

header a {
    text-decoration: none;
    color: #f1f5f9;
}

.hamburguer {
    padding-right: 20px;
    /* cursor: pointer; */
}

.hamburguer .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    /* height: 64px; */
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 6px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

.nav-links a:hover,
a:focus {
    border: 1px solid #010f20;
    box-shadow: -1px -1px 4px 0px #5ce1e6, 1px 1px 4px 0px #5ce1e6;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    header {
        padding: 0px;
    }

    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 8px 16px;
    }

    .hamburguer {
        display: none;
    }
}

p.paragraph {
    color: #fff;
    font-size: 18px;
    text-indent: 20px;
    text-align: justify;
}


li {
    color: #1eccef;
}

li a,
li p {
    margin: 0;
    line-height: 26px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}