---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Bem vindo ao meu blog!";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="saudacao">
    <p class="paragraph">
      Criei esse blog para poder aprender mais sobre o framework web Astro JS.
      Inicialmente segui o tutorial da documentação do Astro, que pode ser
      realizada <a
        target="_blank"
        href="https://docs.astro.build/pt-br/tutorial/0-introduction/"
        >clicando aqui</a
      >. Após concluir, resolvi fazer uma espécie de blog para praticar minha
      escrita e compartilhar os projetos que ando desenvolvendo, tanto pessoais,
      quanto profissionais.
    </p>
    <p class="paragraph">
      Com esse blog espero desenvolver minhas habilidades de comunicação e
      explicação de assuntos de tecnologia.
    </p>
    <p class="paragraph">
      Abaixo está listado alguns dos meus posts mais recentes:
    </p>
  </div>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .saudacao p {
    color: #fff;
    font-size: 18px;
  }

  .saudacao a {
    color: #1eccef;
    text-decoration: none;
  }

  li {
    color: #1eccef;
  }

  li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }
</style>
