---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página Inicial";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h2>O Subtitulo incrível do meu blog</h2>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</BaseLayout>
