---
import "../styles/global.css";
import SocialMedia from "./SocialMedia.astro";
---

<footer>
  <div class="row">
    <div class="column">
      <div class:list={["column", "contact"]}>
        <p>Contatos:</p>
        <p>lucas_lfs04@outlook.com</p>
      </div>
      <a href="/about">Sobre</a>
      <a href="/blog">Blog</a>
    </div>
    <SocialMedia />
  </div>

  <span
    >Powered by Astro JS <br /> Este site não armazena nenhuma informação sensível
  </span>
</footer>

<style>
  footer {
    background-color: #1c1c1c;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
    /* position: absolute; */
    bottom: 0;
    margin-top: 48px;
    border-top: 1px solid #02eddf;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  span {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }

  a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #02eddf;
    line-height: 20px;
    width: min-content;
  }

  .column.contact {
    row-gap: 6px;
  }

  .column.contact p {
    margin: 0;
  }

  .column.contact p:first-child {
    font-weight: 600;
  }

  @media (max-width: 1024px) {
    .row {
      width: 100%;
      align-items: center;
      row-gap: 20px;
    }

    .contact {
      font-size: 14px;
      column-gap: 8px;
    }

    .column {
      row-gap: 8px;
    }

    a {
      /* display: none; */
      font-size: 12px;
      line-height: 14px;
    }
  }
</style>
