---
import Navigation from "./Navigation.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<header>
  <div class="row">
    <h1>Lucas</h1>
    <Navigation />
  </div>
  <div class="tags">
    {uniqueTags.map((post) => <a href={`/tags/${post}`}>{post}</a>)}
  </div>
</header>

<style>
  header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }

  header .row {
    padding: 16px 24px 8px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -2px 4px -2px #5ce1e6;
    /* border-bottom: 1px solid #010f20; */
  }

  .tags {
    display: flex;
    flex-direction: row;
    /* column-gap: 12px; */
    background-color: #1eccef;
  }

  .tags a {
    padding: 6px 12px;
    text-transform: uppercase;
    color: #010f20;
    transition: all 0.3s ease;
  }

  .tags a:hover {
    color: #fff;
  }

  h1 {
    color: #1eccef;
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }
</style>
