---
const { posts } = Astro.props;
---

<div class="post-area">
  {
    posts.map((post) => (
      <a href={post.url} class="post-card">
        <div>
          <img src={post.frontmatter.image.url} alt="" />
          <p>{post.frontmatter.title}</p>
        </div>
      </a>
    ))
  }
</div>

<style>
  .post-area {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    column-gap: 4%;
  }
  a {
    text-decoration: none;
  }

  .post-card {
    background: linear-gradient(145deg, #1e1e1e, #191919);
    box-shadow:
      7px 7px 14px #161616,
      -7px -7px 14px #222222;
    width: 23%;
    height: 360px;
    border-radius: 12px;
  }

  .post-card img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .post-card p {
    padding: 0 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .post-card:hover p {
    color: #1eccef;
  }
</style>
