---
const { href, username, image } = Astro.props;
---

<a target="_blank" href={href}>
  <img src={image} alt="" />
  {username}
</a>

<style>
  a {
    color: #f1f5f9;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
  }
  a img {
    height: 28px;
  }
</style>
